# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/test.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
bundler_stubs/
.rvmrc
/.bundle
/vendor/bundle
/coverage/
/spec/tmp/*
**.orig
