<div class="span12">
	<table border="1"  class="table table-hover listings">
		<thead
		<tr>
		<th>Item</th>
		<th>Image</th>
		<th>Description</th>
		<th>Price</th>
		</tr>
	</thead>
		<tbody>
		  <% @listings.last(3).each do |listing| %>
				<tr class="admin-lists" onclick="document.location = '/admin/listing/<%= listing.id %>';" >
		      <%= render 'list_item', item: listing %>
				 </tr>
		  <% end %> 
		<tbody>
	</table>
</div>
