<h2>The 3 latest listings...</h2>
<%= render 'listings' %>
<%= link_to "Full List",  '/admin/listings' %>

<h2>The 3 latest Users...</h2>
<%= render 'users' %>
<%= link_to "Full List",  '/admin/users' %>