/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
body
{
background-image:url('subtle_dots.png');
background-color:#cccccc;
}

 .item-heading{
  line-height:30px;
  font-size:2.0em;
  font-weight:normal;
  color:#444;

 }

.navbar-inner{
  background-color: #fafafa;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 30px 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item > .badge {
  float: right;
  margin-right: -15px;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

a.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item .list-group-item-text {
  color: #555555;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

a.list-group-item.active {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

a.list-group-item.active .list-group-item-heading {
  color: inherit;
}

a.list-group-item.active .list-group-item-text {
  color: #e1edf7;
}
.well-front{
  background-color: #E8F2FC;
}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
         /*width:320px;*/

}
.front-item{
border: 1px solid #eeefff;
min-height:500px;
text-align:center;
padding-top:40px;
margin-top:20px;
margin-bottom:20px;

background-color: #fff;
border-radius: 5px;
}
.front-item:hover{
  border: 1px solid #ddd;
}

.coming-item{
  text-align:center;
}
.recent-item{
  text-align:center;
}
.panel .list-group {
  margin: 15px -15px -15px;
}

.panel .list-group .list-group-item {
  border-width: 1px 0;
}

.panel .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel .list-group .list-group-item:last-child {
  border-bottom: 0;
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 500;
}

.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-heading {
background-color: #EBEBEB;
}

.item-title{
  margin-left: 20px;
  margin-right: 20px;
  color:#353535;
}

.coming-title{
  font-size:1.3em;
  color:#666666;
  font-weight: normal
}

.recent-title{
  font-size:1.3em;
  color:#333;
  font-weight: normal
}

.item-image{
  text-align: center;
}

.coming-image{
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
}

.recent-image{
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
}

.item-description{
  font-size:0.8em;
  color:#666;
  padding-left: 20px;
padding-right: 20px;
}

.item-bid{
    margin-left: 20px;
margin-right: 20px;
}

.coming-bid{
    margin-left: 0px;
margin-right: 0px;
}

.recent-bid{
    margin-left: 0px;
margin-right: 0px;
}

.item-winning{
    margin-left: 20px;
margin-right: 20px;
}

.coming-winning{
    margin-left: 0px;
margin-right: 0px;
}

.recent-winning{
    margin-left: 0px;
margin-right: 0px;
}

.item-ending{
    margin-left: 20px;
margin-right: 20px;
}

.item-bid-button{
  text-align:center;
}

 .item-text{
  font-size:1.3em;
  color:#666;
  margin-top:7px;
  margin-bottom:7px;


 }
 .item-text strong{
  color:#313131;
 }
.home-button{
  width:80%;
}

.welcome{
color: grey;
font-size: 1.1em;
padding-left: 27px;
padding-bottom: 6px;
font-weight: normal;

}


table.listings{
  width:90%;
}
#amount{
  margin-top:12px;
  margin-right:40px;
}
.cred{
  display:inline
}
.crazy-nav{
  padding-top: 10px;
}
.margin-left{
  margin-left:20px;
}

