// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-container{

  font-size: 15px;
}

.listing-title h1{
  margin-left: 65px;
  margin-bottom: 40px;
  margin-top: 25px;
}

.listing-details{
  border: 1px solid black;
  border-radius: 15px;
  height: 275px;
  width: 100%;
  background-color: #eee;
}

.listing-price{
  display: inline-block;
  font-size: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.listing-timer{
  display: inline-block;
  margin-left: 50px;
}

.btn-bid{
  font-size: 20px;
  padding: 10px;
  background-image: none;
  background-color: #3B5998;
  color: white;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.btn-bid:hover{
  background-color: #3B5998;;
}


.listing-description-block{
  border-radius: 13px;
  height: 300px;
  margin: auto;
}

.listing-description{
  padding: 20px;
}

.listing-timer{
  background-color: #eee;
  width: 170px;
}



