// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-title{
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #B3AFAF;
}

.listing-image{
  padding-top: 30px;

}

.left{
  float: left;
}

.right{
  float: right;
}

.listing-price{
  font-size: 17px;
}

.listing-timer{
  font-size: 17px;
}

.listing-box-left{
  line-height: 1.5;
  width: 149px;
}
.listing-box-right{
  margin-right: 50px;

   @media(max-width: 1338px) {
    float: left;
   } 

    @media(max-width: 782px) {
    float: right;
   } 

   @media(max-width: 445px) {
    float: left;
   } 
}

.listing-bid{
  margin-top: 7px;
}

.listing-winner{
  font-size: 17px;
  margin-top: 3px;
}

.listing-box{
  margin-top: 40px;
}

.listing-description{
  font-size: 15px;
  line-height: 3;
  margin-top: 50px;

}

.well{
  background-color: #FCFCFC;
}


.well-front{
  background-color: #F7FBFF;
}

.coming-item{
  background-color: #FFF7ED;
}

.coming-recent-price{
  font-size: 15px;
}

.coming-recent{
  line-height: 2;
}

.coming-recent-list{
  margin-top: -10px;
}

.recent-item{
  background-color: #F3F7ED;
}

#admin-bid-history{
  width: 90%;
}

.new-listing {
margin-right: 10%;
float: right;
}
